*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: #151515;
    color: #ffffff;
}

a {
    color: white;
    font-size: 16px;
}

#item5 {
    display: none;
}

.grey {
    color: grey;
}

.orange {
    color: rgb(255, 165, 0);
}

.line {
    text-decoration: underline;
}